.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 768px){
  .simplert__content {
    width:83% !important;
}
}
.log-img-width{
  width: 120px;
} 
.log-padding-img-top {
     padding: 2px; 
}

.side-menu {
  padding:8px 16px;
}
.side-menu:hover {
  background-color: #3fa46a;
  border-radius: 50px 20px; 
}
.side-menu a:hover {
  color:#ffffff;
} 

.full-width {
  width:100%;
}

